<div class="row">
  <div class="col-md-4"></div>

  <div class="col-md-4">

    <h1> Login</h1>

    <form [formGroup]="form">
      <div class="form-group">
        <input type="text" formControlName="username" class="form-control" placeholder="Username">
      </div>
      <div class="form-group">
        <input type="text" formControlName="password" class="form-control" placeholder="Password">
      </div>
      <div class="form-group">
        <button (click)="login()" type="button" class="btn btn-success" > Login </button>
        <a class="btn btn-default" routerLink="/register"> Register </a>
      </div>
    </form>

  </div>
</div>